.menu {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.menu-container {
    display: contents;
}
.menu-generic-configuration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #444;
    grid-gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.menu-configurable-configuration {
    background-color: #444;
    padding: 1rem;
    border-radius: 0.5rem;
}