.customMenu-button-playgame {
    background-color: green;
}

.customMenu-button-cancel {
    background-color: #333;
}

.customMenu-buttons-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
}